body{
    background-color: azure;
    h1{
        text-align: center;
    }
    p{
        background-color: rgb(206, 206, 206);
    }

    .lista-1 { 
        color: red;
    }
    .lista-2 {
        color: green;
        list-style-type: square;
    }
    h2.lista-2{
        background-color: rgb(4, 233, 4);
    }
}
